@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.PhoneInputCountry{
  padding: 8px;
  @apply border bg-gray-200;
}
.PhoneInputCountry::after {
  content: '';
  display: inline-block; /* Ensure the pseudo-element is inline */
  width: 6px; /* Set width according to SVG dimensions */
  height: 4px; /* Set height according to SVG dimensions */
  background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2218%22%20height%3D%2210%22%20viewBox%3D%220%200%2018%2010%22%20fill%3D%22none%22%20xmlns%3D%22http://www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M17.0306%201.53063L9.53061%209.03063C9.46096%209.10036%209.37824%209.15568%209.2872%209.19342C9.19615%209.23116%209.09855%209.25059%208.99999%209.25059C8.90143%209.25059%208.80383%209.23116%208.71278%209.19342C8.62174%209.15568%208.53902%209.10036%208.46936%209.03063L0.969365%201.53063C0.828634%201.3899%200.749573%201.19902%200.749573%201C0.749573%200.800978%200.828634%200.610106%200.969365%200.469376C1.1101%200.328645%201.30097%200.249584%201.49999%200.249584C1.69901%200.249584%201.88988%200.328645%202.03061%200.469376L8.99999%207.43969L15.9694%200.469376C16.039%200.399693%2016.1218%200.344418%2016.2128%200.306706C16.3039%200.268994%2016.4014%200.249584%2016.5%200.249584C16.5985%200.249584%2016.6961%200.268994%2016.7872%200.306706C16.8782%200.344418%2016.9609%200.399693%2017.0306%200.469376C17.1003%200.539059%2017.1556%200.621784%2017.1933%200.712829C17.231%200.803874%2017.2504%200.901455%2017.2504%201C17.2504%201.09855%2017.231%201.19613%2017.1933%201.28717C17.1556%201.37822%2017.1003%201.46094%2017.0306%201.53063Z%22%20fill%3D%22black%22/%3E%3C/svg%3E');
  background-size: contain; /* Scale the SVG properly */
  background-repeat: no-repeat;
  margin: 0 0 0 4px;
}

.PhoneInputCountrySelectArrow{
  display: none;
}
input{
  @apply bg-transparent
}
